body {
    padding: 0px;
    margin: 0px;
    background-color:#d6c8bb;
    font-family: "Trirong", serif;
}


.outer-div {
    background-color: white;

    margin: 70px 90px;
}

.left-div {
padding: 20px 50px 20px 50px;
    width: 50%;
}

.right-div{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    margin: 0px;
}

.header {
    margin-bottom: 40px;
}
 
.no-outline {
    margin-bottom: 8px;
    border-radius: 8px;
    border-style: hidden;
    background-color: rgb(241, 238, 238);
    width: 100%;
    height: 40px;
}

#checkBox {
    padding: 0px;
    margin-right: 5px;
    height: 15px;
}

.button{
    width: 100%;
margin-top: 20px;
}

a{
    text-decoration: none;
}

#success_btn{
    float:right;
}

#industryName{
    background-color: rgb(237, 236, 236);
    margin-bottom: 10px;
}